{% extends 'base.html.twig' %}

{% block title %}Annotation{% endblock %}

{% block body %}
    <h1>Annotation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>AnnotationId</th>
                <td>{{ annotation.annotationId }}</td>
            </tr>
            <tr>
                <th>Page</th>
                <td>{{ annotation.page }}</td>
            </tr>
            <tr>
                <th>Quote</th>
                <td>{{ annotation.quote }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ annotation.note }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('annotation_index') }}">back to list</a>

    <a href="{{ path('annotation_edit', {'annotationId': annotation.annotationId}) }}">edit</a>

    {{ include('annotation/_delete_form.html.twig') }}
{% endblock %}
